<ion-header>
  <ion-toolbar>
    <ion-title>{{ calName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let ev of events">
  <ion-card-header>
    {{ev.title}}
  </ion-card-header>
  <ion-card-content>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>Start :{{ev.dtstart | date:short}}
      </ion-item>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>End :{{ev.dtend | date:short}}
      </ion-item>
      <ion-item>
        <ion-icon name="locate"></ion-icon>{{ev.eventLocation}}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
