<ion-header>
  <ion-toolbar>
  
      <ion-title size="small">{{viewTitle}}</ion-title>
      <ion-buttons slot="end">
        <button ion-button [disabled]="isToday" (click)="today()">Today</button>
        <button ion-button (click)="changeMode('month')">M</button>
        <button ion-button (click)="changeMode('week')">W</button>
        <button ion-button (click)="changeMode('day')">D</button>
        <button ion-button (click)="loadEvents()">Load Events</button>
    </ion-buttons>
</ion-toolbar>
     
</ion-header>

<ion-content>
  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  (onRangeChanged)="reloadSource(startTime, endTime)"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30">
  
</calendar>
</ion-content>
