<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">
      My Calendar
    </ion-title>
    <ion-button slot="end" [routerLink]="['/calendar']" routerLinkActive="router-link-active" >Calendar View</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
      <button ion-button slot="start" fill="clear" (click)="addEvent(cal)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </button>
      {{cal.name}}
      <p>{{cal.type}}</p>
      <button ion-button  slot="end" fill="clear"  (click)="openCal(cal)">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
